<div>
  <%= form_with(model: blog) do |form| %>
    <div class="textfield-container">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-input form-textarea-title" %>
      <% if blog.errors.any? %>
        <%= content_tag :h6, blog.errors.messages[:title].first, class: "form-error" %>
      <% end %>
    </div>
    <div class="textfield-container">
      <%= form.label :summary, class: "form-label"  %>
      <%= form.text_area :summary, class: "form-textarea form-textarea-summary" %>
      <% if blog.errors.any? %>
        <%= content_tag :h6, blog.errors.messages[:summary].first, class: "form-error" %>
      <% end %>
    </div>
    <div class="textfield-container">
      <%= form.label :content, class: "form-label"  %>
      <%= form.text_area :content, class: "form-textarea form-textarea-content" %>
      <% if blog.errors.any? %>
        <%= content_tag :h6, blog.errors.messages[:content].first, class: "form-error" %>
      <% end %>
    </div>
    <div class="submit-container">
      <%= form.submit class: "btn" %>
    </div>
  <% end %>
</main>
