<main>
  <div id="blogs" class="articles-container">
    <% @blogs.each do |blog| %>
      <div id="<%= dom_id blog %>" class="article-container">
        <div class="article-title-container">
          <h6 class= "article-minute-read" ><%= words_to_time(blog.content) %></h6>
          <h3><%= link_to blog.title, blog, class: "article-title" %></h3>
          <h6 class="article-time">
            <%= custom_distance_of_time(blog.created_at) %>
          </h6>
        </div>
        <div class="article-preview-container">
          <p><%= blog.summary %></p>
          <h5 class="article-link"><%= link_to "Read More", blog %></h5>
        </div>
      </div>
    <% end %>
  </div>
</main>
