<main>
  <div id="<%= dom_id @blog %>" class="article-container">
    <div class="article-button-container">
      <%= link_to "Edit", edit_blog_path(@blog), class: "btn" %>
      <%= link_to "Delete", @blog, method: :delete, class: "btn btn-danger" %>
    </div>
    <div class="article-title-container">
      <h6 class= "article-minute-read" ><%= words_to_time(@blog.content) %></h6>
      <h3 class="article-title"><%= @blog.title %></h1>
      <h6 class="article-time"><%= custom_distance_of_time(@blog.created_at)  %></h6>
    </div>
    <p><%= @blog.content %></p>
  </div>
</main>
