<div id="<%= dom_id article %>" class="article-container">
  <h6 class="article-secondary-text">
    <%= "#{readable_date_formatter(article.created_at)} by #{check_author(article.author)}" %>
  </h6>
  <div class="article-body">
    <div class="article-content">
      <h5>
        <%= article.title %>
      </h5>
      <p>
        <%= trim_content(article.content) %>
      </p>
      <div class="article-footer">
        <p class="article-tag">
          <%= words_to_time(article.content) %>
        </p>
        <div class="article-button-container">
          <span class="material-symbols-outlined">
            favorite
          </span>
          <span class="material-symbols-outlined">
            comment
          </span>
          <span class="material-symbols-outlined">
            share
          </span>
        </div>
      </div>
    </div>
    <img src="<%= check_image(article.image_url) %>" class="article-image">
  </div>
</div>
