<div class="form-container">
  <%= form_with(model: article) do |form| %>
    <% if article.errors.any? %>
      <div style="color: red">
        <p><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</p>
        <ul>
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-textfield-content">
      <div class="textfield-custom">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <div class="textfield-custom">
        <%= form.label :content %>
        <%= form.text_area :content %>
      </div>
      <div class="textfield-custom">
        <%= form.label :image_url %>
        <%= form.text_area :image_url %>
      </div>
      <div class="textfield-custom">
        <%= form.label :author %>
        <%= form.text_field :author %>
      </div>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
